/* CSS Document */
/*Estilos para pantallas medianas*/
header{
	height:200px;
	background:url(../images/banner_mediano.jpg) no-repeat 90% 0;
	}
header a.logo{
	width:115px;
	height:90px;
	top:20px;
	left:20px;
	background-image:url(../images/logo_mediano.jpg) no-repeat 0;
	}
nav{
	top:184px;
	}
nav a{
	margin-right:20px;
	}
.promo_container{
	padding: 0 20px 15px 20px;
	}
.promo_container .promo{
	background-position:0 0;
	}	
.promo_container .page .content{
	padding:70px 30px 0 0;
	}
body{
	background-image:none;
	}				